<!DOCTYPE html>
<html ng-app="appIcare">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Tipos de documento</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    </head>
    <body ng-controller="ctrlDocTypes">
        <form id="form" method="post" accept-charset="utf-8">
            <fieldset>
                <legend><span>Tipos de documento</span></legend>
                <div>
                    <label for="name">Nombre</label> <input type="text" name="name" id="name" ng-model="newDocType.name" placeholder="Nombre.." />
                </div>
                <div ng-hide="edited">
                    <button id="save" ng-click="add()" type="submit">Guardar</button>
                </div>
                <div ng-show="edited">
                    <button id="save" ng-click="edit()" type="submit">Editar</button>
                </div>
            </fieldset>
        </form>
        <br>
        <p>
            <div>
                <table width="100%" border="1">
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    <tr ng-repeat="docType in docTypes">
                        <td>{{ docType.name }}</td>
                        <td>
                            <a href="#" ng-click="view(docType.$id);">Editar</a>
                            <a href="#" ng-click="remove(docType.$id);">Remover</a>
                        </td>
                    </tr>
                </table>
            </div>
        </p>
        <script>
        var docTypes, docType;

        angular.module("appIcare", ["firebase"])
            .controller("ctrlDocTypes", ["$scope", "$firebase",
                function($scope, $firebase) {
                    var ref = new Firebase('https://icareapp.firebaseio.com/docType');
                    var sync = $firebase(ref);

                    $scope.docTypes = sync.$asArray();
                    $scope.newDocType = {};
                    $scope.edited = false;
                    $scope.id = false;

                    $scope.add = function() {
                        $scope.newDocType = {
                            name: $scope.newDocType.name
                        };

                        sync.$push($scope.newDocType);
                        $scope.newDocType = {};
                    }

                    $scope.view = function(id){
                        docTypes = sync.$asArray();
                        docType = docTypes.$getRecord(id);
                        $scope.newDocType.name = docType.name;
                        $scope.id = id;
                        $scope.edited = true;
                    }

                    $scope.edit = function(){
                        $scope.newDocType = {
                            name: $scope.newDocType.name
                        };
                        sync.$update($scope.id, $scope.newDocType);
                        $scope.newDocType = {};
                        $scope.edited = false;
                        $scope.id = false;
                    }

                    $scope.remove = function(id) {
                        sync.$remove(id);
                    }
                }]);
        </script>
    </body>
</html>